.Homemain1 {
    width: 100%;
    padding: 32px 0;
    margin-top: 16px;
    text-align: center;
}

.Homecontainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Homeheading {
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homeheading h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

/* * {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 80px;
    margin-top: 50px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.p {
    width: 250px;
    box-shadow: 10px 10px 30px rgb(211, 206, 206);
    border-radius: 25px;
    border: 1px solid #999999;
    cursor: pointer;
}

.img img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.title {
    color: #111111;
    font-weight: 800;
    padding-left: 5px;
    font-size: 20px;
}  */

* {
    margin: 0;
    padding: 0;
}
/* .Homecontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 80px;
    margin-top: 50px;
} */
.Homemain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 80px;
    margin-top: 30px;
    padding: 15px 15px;
    margin: 20px;
    cursor: pointer;
}

.Homeimg img {
    height: 150px;
    width: 250px;
    border-radius: 10px;
}

.Hometitle {
    color: #111111;
    font-weight: 800;
    padding-left: 5px;
    font-size: 20px;
}
